# Base directory of installation
MIL.BaseDir=/mcr/miless.production/miless/

# Base URL of the web application
MCR.baseurl=http://localhost:8080/

# JDBC driver and database URL for MySQL connections
MCR.Persistence.SQL.Database.Type=hsqldb
MCR.Persistence.SQL.Driver=org.hsqldb.jdbcDriver
MCR.Persistence.SQL.Database.URL=jdbc:hsqldb:hsql://localhost:8298
MCR.Persistence.SQL.Database.Userid=sa
MCR.Persistence.SQL.Database.Passwd=
MCR.Persistence.SQL.Dialect=org.hibernate.dialect.HSQLDialect

# Initial and maximum number of JDBC connections 
MCR.Persistence.SQL.Connections.Init=8
MCR.Persistence.SQL.Connections.Max=8

# Directory for temporary storage of uploaded files
MCR.Editor.FileUpload.TempStoragePath=%MIL.BaseDir%uploads

# base directory for dozbib data
MCR.IFS2.Store.ubo.BaseDir=%MIL.BaseDir%ubo-data

# Export bibliography entries by use of the Bibutils commands.
# See http://www.scripps.edu/~cdputnam/software/bibutils/
MIL.UBO.BibUtils.Base=cmd.exe /c C:\\Java\\bibutils_4.12\\

# system command for xml2bib
MCR.ContentTransformer.mods2bibtex.Command=%MIL.UBO.BibUtils.Base%xml2bib.exe -b -w

# system command for xml2ris
MCR.ContentTransformer.mods2ris.Command=%MIL.UBO.BibUtils.Base%xml2ris.exe

# system command for xml2end
MCR.ContentTransformer.mods2endnote.Command=%MIL.UBO.BibUtils.Base%xml2end.exe

####################  EVALuna Biblio Schnittstelle ####################

MIL.UBO.Evaluna.APIKey=
MIL.UBO.Evaluna.UserName=
MIL.UBO.Evaluna.Password=

MIL.Scopus.API.Key=
