
/*  necessary extensions/replacements/changes based on MyCoRe specific css-classes */
html, body {
  height: 100%;
}

.has-error {
  @extend .border-danger;
}

.validation-failures ul li {
  color: red;
}

.bg-card-body1 {
  @extend .bg-light;
}

.bg-card-body2 {
  @extend .bg-white;
}

/* change border position */
.card-header {
  border-bottom: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card-footer {
  border-top: 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

// facets (sidebar searchresults etc.)
.mycore-facet-count:after {
  content: " | ";
}

.mycore-facet-exclude, .mycore-facet-remove {
  @extend .mr-1;
  color: red;
}


// shortcut-classes for forms
.mycore-form-label {
  @extend .col-lg-3;
  @extend .col-md-3;
  @extend .col-sm-3;
  @extend .justify-content-sm-end;
  @extend .pl-0;
  @extend .mr-3;
}

// actually used for input AND select AND textarea
.mycore-form-input {
  @extend .form-control;
  @extend .col-lg-6;
  @extend .col-md-6;
  @extend .col-sm-6;
}

.mycore-form-input-double {
  @extend .form-control;
  @extend .col-lg-3;
  @extend .col-md-3;
  @extend .col-sm-3;
}

.readonly {
  background-color: $input-disabled-bg !important;
}

// shortcut-classes for lists
.mycore-list-item {
  @extend .list-group-item;
  @extend .border-0;
  @extend .py-0;
  @extend .px-0;
}

// sidebar facets
.mycore-slidetoggle {
  @extend .text-primary;
  text-decoration: underline;
  cursor: pointer;
}

img.orcid-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0px 2px 0px 2px;
}

button.xeditor-pmud.fas {
  cursor: pointer;
  border: none;
  background-color: $pmud-color-hover;
  &:hover {
    background-color: $pmud-color;
  }
}

.xeditor-pmud {
  color: $pmud-color;
  font-size:25px;
}

.xeditor-pmud:hover {
  color: $pmud-color-hover;
  background-color: $pmud-color;
  font-size: 25px;
}
.form-control.ubo-repeater-button-box:hover {
  border: 1px solid $primary;
}

// style of the list when selecting identities
// (personal publication list -> select person from LDAP/LSF..., importing publications...)
.dataTables_wrapper table {
  width: 100%;
}

table.jQDataTable thead th {
  padding: 5px;
  cursor: pointer;
  cursor: hand;
}

table.jQDataTable td {
  padding: 5px;
  vertical-align: top;
}

table.jQDataTable tr:nth-child(even) td:first-child,
table.jQDataTable tr:nth-child(odd) td:first-child {
  border-left: 1px solid lightGrey;
}

table.jQDataTable tr:nth-child(even) td:last-child,
table.jQDataTable tr:nth-child(odd) td:last-child {
  border-right: 1px solid lightGrey;
}

table.jQDataTable tr:last-child > td {
  border-bottom: 1px solid lightgray;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .675rem;
  line-height: .5;
  border-radius: $border-radius;
}

.chosen-container-single .chosen-single {
  height: 38px !important;
  border-color: rgb(206, 212, 218) !important;
  border: 1px solid #ced4da !important;
  border-radius: .1rem !important;
  background: none !important;
  box-shadow: none !important;
  color: #495057 !important;
  font-size: 1rem !important;
  font-family: "Roboto", Arial, sans-serif !important;
  padding: 0.375rem 0.99rem !important;
  letter-spacing: 0 !important;
}

.chosen-container-single .chosen-single div {
  top: 7px !important;
  right: -5px !important;
}

.chosen-container .chosen-drop {
  border: 1px solid #ced4da !important;
  font-family: "Roboto", Arial, sans-serif !important;
  color: #495057 !important;
  font-size: 1rem !important;
  border-radius: .1rem !important;
  box-shadow: none !important;
}

.nameIdentifier {
  @extend .badge, .badge-primary;
  a {
    color: white;
    text-transform: capitalize;
  }
  vertical-align: top;
  margin-right: 0.25rem;
  background-color: #1d60bd;
  border-radius: 0.2rem;
}

.nameIdentifier:first-child {
  margin-left: 0.25rem;
}

.nameIdentifier:last-child {
  margin-right: 0rem;
}

// prevent line breaks on repeater sections
.ubo-repeat-group {
  //flex-wrap: nowrap;
}
.form-control {
  &.ubo-repeater-button-box {
    display: flex;
  }
}
.ubo-repeater-button-box {
  padding: 0;
  margin-left: 0.5rem;
  .xeditor-pmud {
    font-size: 1.125rem;
    &:hover {
      font-size: 1.125rem;
    }
  }
}

.ubo-tags-group {
  .ubo-repeater-button-box {
    @extend .mb-1, .mr-1;
    margin-left: 0;
  }
}
.form-inline {
  align-items: flex-start;
  padding-top: 0.375rem;
  label {
    margin-top: 0.375rem;
  }
}
.mycore-form-label {
  text-align: right;
}
.mycore-form-input-group {
  flex: 0 0 50%;
  max-width: 50%;
}

.mycore-facet-count {
	display: inline-block;
	width: 60px;
	height: 1.2em;
	vertical-align: top;
	margin: 0;
	padding: 0;
	text-align: right;
}

.mycore-facet-value {
	display: inline-block;
	width: 175px;
	height: 1.5em;
	vertical-align: top;
	overflow: hidden;
	margin: 0;
	padding: 0;
	position: relative;
}

.mycore-facet-value .scroll-on-hover {
	position: absolute;
	white-space: nowrap;
	transform: translateX(0);
	transition: 6s;
}

.mycore-facet-value:hover .scroll-on-hover {
	transform: translateX(calc(175px - 100%));
}

.ubo-content-block {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.list-group-item .table {
  color: inherit;
}

/* =============================================================== */
/* classification browser                                          */
/* ================================================================*/

/* icons */
.cbList {
  .fa {
    margin-left: 10px;
    font-size: 26px;
    font-weight: bold;
    vertical-align: middle;
  }

  .fa-plus-square-o {
  }

  .fa-square-o {
    color: #ccc;
  }

  .fa-minus-square-o {
  }
}

/* first level */
ul.cbList {
  list-style: none;
  margin: 0;
  padding: 0;


  li {
    margin: 1px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    background-color: #e5e5e5;
    border-radius: 1px;
    line-height: 36px;
    color: #ddd;
  }

  li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  li:nth-child(odd) {
    background-color: #eee;
  }

  li a {
    text-decoration: none;
  }

  li a:first-child {
    color: #aaa;
  }


  /* second+ level */
  ul {
    padding: 0 0 0 0px;
  }

  li li a {
    color: $link_color;
  }

  li li {
    margin: 1px 0 0 0;
    padding: 0px 0 0px 22px;
    background-color: #fcfcfc;
    border-radius: 1px;
    line-height: 32px;
  }

  li li:first-child {
    margin: 10px 0 0 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  li li:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
  }

  li li:nth-child(odd) {
    background-color: #f6f6f6;
  }

}

ul span.cbNum {
  padding: 0 8px 0 12px;
  color: #999;
}

ul ul span.cbNum {
  color: #999;
}