/* ubo-variables.scss
 * - overwrites bootstrap variables
 * - or defines common ubo variables
 *
 * !important
 * - all variables has to be defined with !default
 *   to allow overwriting without !important
 *
 * annotation:
 * - all available variables are defined in
 *   /bootstrap/scss/_variables.scss
 *   or use this web app: https://bootstrap.build/app
 */

// UBO colors
$ubo-blue:  #003b7a;
$ubo-light: #efe4bf;
$ubo-gray:  #495353;

// OpenAccess colors
$oa:              #C8FE2E !default;
$oa-closed:       #5fa8e8 !default;
$oa-green:        #00FF00 !default;
$oa-gold:         #FFFF00 !default;
$oa-platin:       #CECECE !default;
$oa-diamond:      #CECECE !default;
$oa-hybrid:       #FF8000 !default;
$oa-bronze:       #BF8970 !default;
$oa-embargo:      #868A08 !default;
$oa-unvalidated:  #5858FA !default;

$oa-default-text-light: white !default;
$oa-default-text-dark:  black !default;

$oa-text:             $oa-default-text-dark   !default;
$oa-closed-text:      $oa-default-text-light  !default;
$oa-green-text:       $oa-default-text-dark   !default;
$oa-gold-text:        $oa-default-text-dark   !default;
$oa-platin-text:      $oa-default-text-dark   !default;
$oa-diamond-text:     $oa-default-text-dark   !default;
$oa-hybrid-text:      $oa-default-text-light  !default;
$oa-bronze-text:      $oa-default-text-light  !default;
$oa-embargo-text:     $oa-default-text-light  !default;
$oa-unvalidated-text: $oa-default-text-light  !default;

// bootstrap variables
// overwrite or modify
$primary:     $ubo-blue  !default;
$body-bg:     $ubo-light !default;
$body-color:  $ubo-gray  !default;

$border-radius: .2rem !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px
) !default;

// modify theme colors
$theme-colors: (
  alternative: $body-bg
) !default;

// ubo variables
$pmud-color:        $primary !default;
$pmud-color-hover:  white !default;

// use input color for placeholder
$input-color: $body-color !default;
$input-placeholder-color: $input-color !default;