.oa-badge {
  &-oa {
    color: $oa-text;
    background-color: $oa;
  }
  &-green {
    color: $oa-green-text;
    background-color: $oa-green;
  }
  &-gold {
    color: $oa-gold-text;
    background-color: $oa-gold;
  }
  &-closed  {
    color: $oa-closed-text;
    background-color: $oa-closed;
  }
  &-platin  {
    color: $oa-platin-text;
    background-color: $oa-platin;
  }
  &-hybrid  {
    color: $oa-hybrid-text;
    background-color: $oa-hybrid;
  }
  &-bronze  {
    color: $oa-bronze-text;
    background-color: $oa-bronze;
  }
  &-embargo {
    color: $oa-embargo-text;
    background-color: $oa-embargo;
  }
  &-unvalidated {
    color: $oa-unvalidated-text;
    background-color: $oa-unvalidated;
  }
}

.oa-statistic {
  &:hover {
    filter: brightness(110%);
  }
  &-closed  rect { fill: $oa-closed; }
  &-oa      rect { fill: $oa; }
  &-green   rect { fill: $oa-green; }
  &-gold    rect { fill: $oa-gold; }
  &-platin  rect { fill: $oa-platin; }
  &-hybrid  rect { fill: $oa-hybrid; }
  &-bronze  rect { fill: $oa-bronze; }
  &-embargo rect { fill: $oa-embargo; }
  &-unvalidated rect { fill: $oa-unvalidated; }
}
